[submodule "web-portal/mirror-web"]
	path = web-portal/mirror-web
	url = https://github.com/tuna/mirror-web
[submodule "web-portal/opentuna-site"]
	path = web-portal/opentuna-site
	url = https://github.com/tuna/opentuna-site
