*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out*
cdk.context.json

# Parcel default cache directory
.parcel-cache

# lambda functions in directory `lib`
!lib/lambda.d/cf-logs-analytics/*.js
